<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		{% include "libary_css.html" %}
	</head>
	<body>
		<div class="containers">
			{% include "sidebar.html" %}
			<div class="main-content">
				<!-- Header with search and profile -->
				<div class="header">{% include "header.html" %}</div>
				<div class="content">
					{% block content %}{% endblock %}
				</div>
				</div>
			</div>
		</div>
	</body>
	{% include "libary_js.html" %}
</html>
