<div class="sidebar">
		<div class="logo">
			<img
				src="{{ url_for('static', filename='images/logoOSAS.png') }}"
				alt="logoOSAS" />
			<h2>OSAS Company</h2>
		</div>

		<a href="{{ url_for('dashboard') }}" class="menu-item menu-header">
			<i class="ri-dashboard-line"></i>
			<div class="menu-title">Dashboard</div>
		</a>
		<div class="menu-item" id="userItem">
			<div class="menu-header" id="userHeader">
				<div class="icon user">📦</div>
				<div class="menu-title">User</div>
				<span class="chevron right" id="userChevron"></span>
			</div>
			<div class="dropdown-content" id="userDropdown">
				<div class="dropdown-item">Admin</div>
				<div class="dropdown-item">Customer</div>
			</div>
		</div>
		<div class="menu-item" id="blogItem">
			<div class="menu-header" id="blogHeader">
				<div class="icon blog">📄</div>
				<div class="menu-title">Blog</div>
				<span class="chevron right" id="blogChevron"></span>
			</div>
			<div class="dropdown-content" id="blogDropdown">
				<div class="dropdown-item">List</div>
				<div class="dropdown-item">Detail</div>
				<div class="dropdown-item">crete</div>
				<div class="dropdown-item">edit</div>
			</div>
		</div>

		<!-- analytic -->
		<div class="menu-item" id="analyticItem">
			<div class="menu-header" id="analyticHeader">
				<div class="icon analytic">📦</div>
				<div class="menu-title">Work Aalytic</div>
				<span class="chevron right" id="analyticChevron"></span>
			</div>
			<div class="dropdown-content" id="analyticDropdown">
				<div class="dropdown-item">Load vs Cores</div>
				<div class="dropdown-item">Transactions per Sec</div>
				<div class="dropdown-item">Log Switches</div>
			</div>
		</div>

	<div class="menu-item" id="sqlItem">
			<div class="menu-header" id="sqlHeader">
				<div class="icon sql">📦</div>
				<div class="menu-title">SQL Aalytic</div>
				<span class="chevron right" id="sqlChevron"></span>
			</div>
			<div class="dropdown-content" id="sqlDropdown">
				<div class="dropdown-item">SQL Module By CPU Time</div>
				<div class="dropdown-item">SQL Module By User I/O</div>
			</div>
		</div>

		<div class="menu-item" id="orderItem">
			<div class="menu-header" id="orderHeader">
				<div class="icon order">🛒</div>
				<div class="menu-title">Order</div>
				<span class="chevron right" id="orderChevron"></span>
			</div>
			<div class="dropdown-content" id="orderDropdown">
				<div class="dropdown-item">All Orders</div>
			</div>
		</div>
	</div>		<!-- analytic -->
	