body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
table td {
    padding: 8px;
}
.login-container {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.login-container img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container label {
    display: block;
    margin: 10px 0;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
}
.login-container a {
    display: block;
    margin: 10px 0;
    color: #ff3c00;
    text-decoration: none;
    font-size: 12px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #034000;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.login-container button:hover {
    background-color: #575757;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}